/WebApplication1/.vs/config/applicationhost.config
/WebApplication1/.vs/WebApplication1/v14/.suo
/WebApplication1/WebApplication1.sln
/WebApplication1/WebApplication1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WebApplication1/WebApplication1/Properties/AssemblyInfo.cs
/WebApplication1/WebApplication1/Web.config
/WebApplication1/WebApplication1/Web.Debug.config
/WebApplication1/WebApplication1/Web.Release.config
/WebApplication1/WebApplication1/WebApplication1.csproj
/WebApplication1/WebApplication1/WebApplication1.csproj.user
/WindowsApplication1/WindowsApplication1/Form1.Designer.vb
